---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
    {% include sidebar_it.html %}

    <div class="main-wrapper">
        <ul style="list-style: none; display: flex; float:right;" class="list-group">
            {% for lang in site.data.langs %}
            <li style="border: 1px solid #4B6A78; font-size: 16px; padding: 2px; text-align: center; width: 40px;"><a href={{ lang.url}} >{{ lang.name}}</a></li>
            {% endfor %}
         </ul>
         <br />
         <br />

      
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>



